<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.touristapp">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Splash">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GoaActivity" />
        <activity android:name=".GoaCategoryActivity" />
        <activity android:name=".PunjabActivity" />
        <activity android:name=".PunjabCategoryActivity" />
        <activity android:name=".DelhiActivity" />
        <activity android:name=".DelhiCategoryActivity" />
        <activity android:name=".UttarActivity" />
        <activity android:name=".UttarCategoryActivity" />
        <activity android:name=".RajasthanActivity" />
        <activity android:name=".RajasthanCategoryActivity" />
        <activity android:name=".TamilActivity" />
        <activity android:name=".TamilCategoryActivity" />
        <activity android:name=".KeralaActivity" />
        <activity android:name=".KeralaCategoryActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.TOURISTAPP" />
    </application>

</manifest>